.loading-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajuste conforme necessário */
}

.loading-animation .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #57534E;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 0.7;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0.7;
  }
}